{{ define "home/first-column.html" }}

<!-- two row div -->
<div class="container-fluid">

    <!-- first row -->
    <div class="row">

        <!-- Spacer column -->
        <div class="col"></div>

        <!-- first column -->
        <div class="col box-1">

            <h4>GitHub Credentials</h4>
            
            <!-- create a box that shows the users name -->
            <div class="input-group mb-3">
                <span class="input-group-text" >@</span>
                <span class="form-control" id="GitHub-username" aria-label="GitHub Username" aria-describedby="GitHub-username">GitHub Username</span>
            </div>

            <!-- create a box that shows if the user has entered a token -->
            <div class="input-group mb-3">                
                <!-- button that triggers the api-token-modal -->
                <button type="button" id="api-token-modal-pop-up-button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#api-token-modal">
                    Enter Token
                </button>
            </div>

            <!-- Embed the api-token-modal -->
            {{ template "home/api-token-modal.html" . }}


        </div>

        <!-- second row -->

        <div class="col box-2">

            <h4>Repository Selection</h4>

            <!-- text box for the owner / user -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username or Organization" aria-label="Username or Organization" aria-describedby="GitHub-Username-or-Organization">
            </div>

            <!-- text box for the repository -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="GitHub Repository" aria-label="GitHub Repository" aria-describedby="GitHub-repository">
            </div>

        </div>

        <!-- Spacer column -->
        <div class="col"></div>

    </div>

</div>

{{ end }}