{{ define "home/first-column.html" }}

<!-- two row div -->
<div class="container-fluid">

    <div class="container box-1">

        <p class="fs-5">Repository Selection</p>

        <hr/>

        <p>
            Click the button to select a GitHub repository
        </p>

        <!-- text box for the owner/repository -->
        <div class="input-group mb-3" id="repository-display">
            <div class="form-floating">
                <input type="email" class="form-control" id="owner-display" placeholder="Owner" disabled>
                <label for="floatingInput">Owner</label>
                </div>
            <span class="input-group-text">/</span>
            <div class="form-floating">
                <input type="email" class="form-control" id="repository-display" placeholder="Repository" disabled>
                <label for="floatingInput">Repository</label>
                </div>
        </div>

        <div class="input-group mb-3">     
            <!-- button that triggers the repository-modal -->
            <button type="button" id="repository-modal-pop-up-button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#repository-modal" aria-label="Select Repository button">
                Set Repository
            </button>
        </div>

        <!-- Embed the repository-modal -->
        {{ template "home/repository-modal.html" . }}

    </div>

</div>

{{ end }}